<?xml version="1.0" encoding="utf-8"?>
<ActiveCMSMonitor xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MonitorEvent xsi:type="FileSystemEvent">
    <Validate>true</Validate>
    <EventAction MaxRecordsPerFile="10">
      <Validate>true</Validate>
    </EventAction>
  </MonitorEvent>
</ActiveCMSMonitor>
